textarea {
    resize: none;
    text-align: left;
    overflow: auto;
    border: 6px outset #c8c8c7;
    padding: 5px font-size: 20px;
    border-radius: 20px;
    font-size: 20px
}

p {
    margin: 0em;
}

.line-highlight {
    color: #b309b3;
}

button {
    background-color: red;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: #fafafaf3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.Start:hover {
    background-color: rgb(19, 79, 243);
}

.Next:hover {
    background-color: darkgreen;
}

.Execute:hover {
    background-color: yellow;
}

.box {
    display: inline;
}

.div1 {
    width: 500px;
    height: 250px;
    padding: 50px;
    overflow: auto;
    border: 6px outset #c8c8c7;
    border-radius: 20px;
    font-size: 20px;
}


/*button {
    background-color: #4CAF50;
    /* Green 
    border: 5px outset #c8c8c7;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}*/

output {
    background-color: white;
}

.div1 {
    background-color: white;
}