<!--Navigation Bar-->
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://iitb.ac.in"><span><img src="images/iitb_logo_30dpi.png"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/">HOME</a>
        </li>
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/labs/labs.html">LABS</a>
        </li>
        <!--<li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/Syllabus_Matrix/syllabus.html">SYLLABUS</a>
        </li>
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/L1-Form/idea.php">CONTRIBUTE</a>
        </li>
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/vlab_tool/index.php ">LAB TOOL</a>
        </li>
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/vlabs-dev/wiki/doku.php">WIKI</a>
        </li> -->
        <li class="active">
          <a href="http://vlabs.iitb.ac.in/gitlab/">GITLAB</a>
        </li>
      </ul>
    </div>
  </div>
</div>
