body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    height: 70%;
    width: 100%;
    position: absolute;
    top: auto;
    display: block;
}

#tex {
    position: absolute;
    top: 90%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    left: 35%;
}

#header {
    border-bottom: 8px solid #ff6600;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6%;
    padding-top: 1.3vmin;
    background-color: #fff!important;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

#labName {
    float: right;
    font-size: 25px;
    align-items: center;
    margin-top: 30px;
    margin-right: 40px;
    color: #2C99CE;
}

.btn {
    margin-left: 650px;
    margin-top: 650px;
}

button {
    font-size: 1.1em;
    border-color: #5CE81F;
    border-bottom-color: #5CE81F;
    color: #fff;
    background-color: greenyellow;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CE81F), to(#5CE81F));
    background-image: -moz-linear-gradient(#5CE81F, #5CE81F);
    background-image: -o-linear-gradient(#5CE81F, #5CE81F);
    background-image: linear-gradient(#5CE81F, #5CE81F);
    box-shadow: green;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    border: 1px solid black;
    transition: ease;
    text-transform: 4s;
}