@charset "utf-8";


body {
	font: 100% ;
	/*background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	
}




.VisualizationMainPage #mainContent {
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}



.VisualizationMainPage #container {


	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}


.VisualizationMainPage #algoControlSection
{
	background: lightyellow; 
	color:#000000; 

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: lightyellow; 
	color:#006600; 
	width: 100%;

}

.VisualizationMainPage  #header { 
	background: #006633; 
	color:#ffCC33;
	 
  
} 
 
.VisualizationMainPage #header  A:visited 
	  { text-decoration:none;
        color:#ffCC33; 
	   }
	   
	   
.VisualizationMainPage #header h1 {
	margin: 0; 
	 
	}
	   
.VisualizationMainPage #header A:link {
    text-decoration:none;
    color:#ffCC33;
	}
	
	
.VisualizationMainPage #container {
	background: lightyellow;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	
	
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
}

.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:#ffCC33;
}


	

.VisualizationMainPage #mainContent h1{
	 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	 
	background: #FFFFFF;
	color:#006633
}



.VisualizationMainPage #footer { 
	
    background: black;
	color:#ffcc33;
} 
.VisualizationMainPage #footer p {
	margin: 0;  
}

EM {text-decoration: bold;}

	#header {
    border-bottom: 8px solid #ff6600;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.5%;
    padding-top: 1.3vmin;
    background-color: #fff!important;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;

    
}
.Copyright {
    background-color: black;
  
}
