body {
    background-color: #FDADC8;
}

input[type=text] {
    width: 300px;
    border: 4px;
    border-radius: 4px;
    color: aqua;
    padding: 10px;
    margin: 40px auto;
    left: 40%;
}

.test {
    height: 30px;
    width: 70px;
    top: 20%;
    left: 50%;
    position: relative;
    margin: 40px auto;
}

#myTable {
    background-color: #C5BFE5;
}