* {
    padding: 0;
    margin: 0;
}

body {
    
    min-height: 564px;
    min-width: 1100px;
    text-align: center;
    height: 100px;
    font-size: 100%;
    position: absolute;
    margin-bottom: 100px;
    background-color: white;
}

#Y {

    margin: 40px auto;
    font-size: 16px;
}

.line-highlight {

    color: #f86300;
    font-weight: bold;
}

#header {

    border-bottom: 8px solid #ff6600;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    padding-top: 1.3vmin;
    background-color: #fff!important;
    font-size: 5vh;
    font-weight: bold;
    
}

.button,
.buttonDisable,

.btnOff {

    position: absolute;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    overflow: visible;
    outline: none;
    white-space: nowrap;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin: 0;
    text-align: center;
    zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
    
}

.button {

    cursor: pointer;
}



.button {

    /*border-color: #5CE81F;
    border-bottom-color: #5CE81F;*/
    border: none;
    color: #fff;
    background-color: #5CE81F;
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CE81F), to(#5CE81F));
    /* background-image: -moz-linear-gradient(#5CE81F, #5CE81F);
    background-image: -o-linear-gradient(#5CE81F, #5CE81F);
    background-image: linear-gradient(#5CE81F, #5CE81F);*/
    /*box-shadow: green;*/
}

.buttonDisable,
.btnOff {

    text-shadow: 1px 1px 0 #fff;
    color: #999999;
    background-color: #f10808b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e60a0aa7), to(#e60a0aa7));
    background-image: -moz-linear-gradient(#e60a0aa7, #e60a0aa7);
    background-image: -ms-linear-gradient(#e60a0aa7, #e60a0aa7);
    background-image: -o-linear-gradient(#e60a0aa7, #e60a0aa7);
    background-image: linear-gradient(#e60a0aa7, #e60a0aa7);
    box-shadow: red;
}

.btnOff,
.buttonDisable,
.button::-moz-focus-inner {

    padding: 0;
    border: 0;
}

.executionDivision,
.consoleDivision {

    top: 80.8px;
    height: 560px;
    position: absolute;
    /* background-color: lightyellow; */
}

.executionDivision {

    left: 45px;
    height:817px;
    width: 960px;
    border-radius: 5px;
    background-color: lightyellow;
    border: 1px solid black;
    color: black;
}

.consoleDivision {

    left: 1035px;
    width: 844px;
    border-radius: 5px;
    background-color: lightyellow;
    border: 1px solid black;
}

.consoleDivisionTitle {

    margin-top: -0.4px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    width: 843px;
    color: #fff;
    background-color: #fc6703c0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc6703c0), to(#fc6703c0));
    background-image: -moz-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: -o-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: linear-gradient(#fc6703c0, #fc6703c0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -0.2px;
}

.executionDivisionTitle {

    margin-top: -0.4px;
    height: 50px;
    margin-left: -0.16px;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    width: 958px;
    color: #fff;
    background-color: #fc6703c0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc6703c0), to(#fc6703c0));
    background-image: -moz-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: -o-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: linear-gradient(#fc6703c0, #fc6703c0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.consoleDivisionTitle {

    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border: 1px solid black;
}

.codeOutputDivision {

    position: absolute;
    top: 672px;
    height: 225px;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

.codeExplanationDivision {
    
    position: absolute;
    margin-top: 675px;
    height: 220px;
    color: white;
    border: 1px solid black;
}

.codeOutputDivision {

    position: absolute;
    margin-left: 35px;
    width: 960px;
    background-color: lightyellow;
    color: white;
}

.codeExplanationDivision {
    
    margin-left:1035px;
    width: 846px;
    background-color: lightyellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.consoleText {

    width: 100px;
    height: 10px;
    text-align: center;
    color: white;
}

.executionText {
    
    text-align: center;
    color: white;
}

.codeExplanationTitle {
    
    color: #fff;
    background-color: #ff5100;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5100), to(#ff5100));
    background-image: -moz-linear-gradient(#ff5100, #ff5100);
    background-image: -o-linear-gradient(#ff5100, #ff5100);
    background-image: linear-gradient(#ff5100, #ff5100);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -.1px;
}

.codeOutputTitle {


    color: #fff;
    background-color: #fc6703c0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc6703c0), to(#fc6703c0));
    background-image: -moz-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: -o-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: linear-gradient(#fc6703c0, #fc6703c0);
    border-top-right-radius: 5px;

}

.outputText {

    text-align: center;
    width: 300px;
    height: 22px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.codeOutputTitle {

    position: absolute;
    left: -0.2px;
    width: 960px;
    text-align: center;
    top: -.2px;
    height: 50px;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ff5100;
    border: 1px solid black;
    margin-left: 191px;
}

.codeExplanationTitle {

    position: absolute;
    left: -.10px;
    width: 845px;
    text-align: center;
    top: 0px;
    height: 50px;
    text-decoration: none;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -.03px;
    background-color: #fc6703c0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc6703c0), to(#fc6703c0));
    background-image: -moz-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: -o-linear-gradient(#fc6703c0, #fc6703c0);
    background-image: linear-gradient(#fc6703c0, #fc6703c0);
}

.initializeText {

    width: 50px;
    height: 10px;
    text-align: center;
    color: white;
}
.codeOutputBody {

    position: absolute;
    top: 50px;
    left: 0px;
    width: 400px;
    height: 78px;
    font-size: 1em;
}
.codeExplanationBody {

    position: absolute;
    top: 22px;
    left: 100px;
    width: 100px;
    height: 78px;
    font-size: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* .explanationText,
.codeOutputText {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    text-align: left;
    font-size: 1em;
} */
.codeOutputText {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 90px;
    height: 78px;
    text-align: left;
    font-size: 20px;
}
#text {
    position: absolute;
    left: 75px;
    height: 3px;
    top: 3.5px;
}
#textBox2 {
    position: absolute;
    left: 75px;
    height: 2px;
    top: 6px;
}
footer {
    height: 60px;
    width: 100px;
    background-color: #ff4800;
    position: absolute;
    top: 920px;
}
footer {
    height: 50px;
    width: 1850px;
    border-color: #ff4800;
    border-bottom-color: #ff4800;
    color: #fff;
    background-color: black;
}
.text {
    position: absolute;
    left: 7px;
    height: 1px;
    top: 3px;
    font-weight: bold;
}
.okButton {
    font-size: 13px;
    min-width: 150px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 80px;
}
.radioButtonHolder {
    width: 100px;
    height: 3.5px;
    float: left;
    font-size: 16px;
    text-align: left;
}
.radiobutton {
    margin-left: 7px;
    float: left;
    width: 10px;
    height: 75px;
}
.radioText {
    float: left;
    width: 70px;
    height: 5px;
    text-align: left;
}
.resultDisplay {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100px;
    height: 90px;
}
.stepExecutionDisplay {
    padding-left: 15px;
    padding-top: 2px;
    overflow-x: auto;
    font-size: 1.3em;
    position: absolute;
    top: 75px;
    margin-left: 5px;
    width: 930.8px;
    height: 740px;
    text-align: left;
}
.executionDivisionFooter {
    position: absolute;
    margin-top: 490px;
    margin-left: 1px;
    width: 950px;
    height: 15px;
    
}
#textArea {
    position: absolute;
    background-color: transparent;
    width: 90px;
    top: 8.8px;
    left: 0px;
    height: 62px;
    border: none;
    font-size: 1%;
    text-orientation: upright;
}

/* .executeButton, */
.startButton,
.nextButton {
    margin-right: 15px;
    height: 28px;
    width: 12px;
    float: right;
    font-size: 13px;
}
button:hover {
    border: 1px solid black;
    transition: ease;
    text-transform: 2s;
}
.buttonHolder {
    position: absolute;
    width: 2px;
    z-index: 1;
    height: 2px;
    margin-left: 1050px;
    margin-top: 2px;
}
.buttonHolder2 {
    position: absolute;
    width: 2px;
    margin-left: 1200px;
    height: 2px;
    z-index: 1;
    margin-top: 2px;
}
.buttonHolder3 {
    position: absolute;
    width: 2px;
   z-index: 1;
    height: 2px;
   margin-top: 2px;
    margin-left: 1125px;
}
.buttonHolder4 {

    position: absolute;
    width: 5px;
    
    height: 2px;
    
    margin-top: 10px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.redClass {
    display: block;
    color: red;
    font-weight: bold;
}
#enterButton {

    position: absolute;
    width: 5px;
    left: 400px;
    height: 2px;
    top: 3.5px;
    border-bottom-color: green;
    color: black;
    background-color: #0ce41a9a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0ce41a9a), to(#0ce41a9a));
    background-image: -moz-linear-gradient(#0ce41a9a, #0ce41a9a);
    background-image: -o-linear-gradient(#0ce41a9a, #0ce41a9a);
    background-image: linear-gradient(#0ce41a9a, #0ce41a9a);
    box-shadow: green;
}
#enterButton2 {

    position: absolute;
    width: 5px;
    left: 400px;
    height: 2px;
    top: 6px;
    text-shadow: -1px -1px rgba(31, 24, 138, 0.578);
    border-color: rgba(21, 7, 214, 0.578);
    border-bottom-color: green;
    color: #fff;
    background-color: #0ce41a9a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0ce41a9a), to(#0ce41a9a));
    background-image: -moz-linear-gradient(#0ce41a9a, #0ce41a9a);
    background-image: -o-linear-gradient(#0ce41a9a, #0ce41a9a);
    background-image: linear-gradient(#0ce41a9a, #0ce41a9a);
    box-shadow: green;

}
#Output1 {

    position: absolute;
    background-color: lightyellow;
    font-size: 2%;
    color: black;
    margin-left: -400px;
    margin-top: 225px;
    width: 792px;
    height: 125px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 40px;

}
#Output2 {
    
    height: 100px;
    width: 395px;
    border: 0px;
    resize: none;
    background-color: transparent;
    font-size: 20px;
}
.codeobjective1 {

    text-align: left;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 20px;
    color: black;
}

/* Dropdown Button */

.dropbtn {

position: absolute;
    padding: 9px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border-color: #5CE81F;
    border-bottom-color: #5CE81F;
    color: #fff;
    background-color: greenyellow;
    background-image: -webkit-gradient(linear, 0 0, 0 100px, from(#5CE81F), to(#5CE81F));
    background-image: -moz-linear-gradient(#5CE81F, #5CE81F);
    background-image: -o-linear-gradient(#5CE81F, #5CE81F);
    background-image: linear-gradient(#5CE81F, #5CE81F);
    box-shadow: green;
    
    
}

/* The container <div> - needed to position the dropdown content */

.dropdown {

    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

    display: none;
    position: absolute;
    background-color: lightyellow;
    min-width: 920px;
    border: 5px double red;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {

    position: absolute;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {

    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
   
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

    background-color: #3e8e41;
}
.dropdown-content {
    right: 0;
    
}
.Copyright {

    position: absolute;
    margin-left: 40px;
    background-color: black;
    
}
