textarea {
    resize: none;
    text-align: left;
    overflow: auto;
    border: 6px outset #c8c8c7;
    font-size: 20px;
    border-radius: 20px;
}

body {
    background-color: #fed190;
}

.box {
    display: inline;
}

.div1 {
    width: 500px;
    height: 150px;
    padding: 50px;
    overflow: auto;
    border: 6px outset #c8c8c7;
    border-radius: 20px;
    font-size: 20px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: 5px outset #c8c8c7;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

output {
    background-color: white;
}