.sizeb {
    display: grid;
    align-items: center;
    /*flex-direction: column;*/
    justify-content: center;
    margin: 50px;
    margin-left: 55px;
}

.container {
    border-radius: 4px;
}

.btn {
    margin-left: 510px;
}

.items {
   
 
}

.profit {
    font-size: 40px;
}

.dochart {
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
* {
    box-sizing: border-box;
   
}

body {
    max-width: 980;
    margin: auto;
    /*background-color: rgba(245, 245, 245, 0.65);*/
    color: #3F51B5;
    background: lightyellow; /* fallback for old browsers */

}
button {
    font-size: 1.1em;
   border-color: #5CE81F;
    border-bottom-color: #5CE81F;
    color: #fff;
    background-color: greenyellow;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CE81F),to(#5CE81F));
    background-image: -moz-linear-gradient(#5CE81F, #5CE81F);
    background-image: -o-linear-gradient(#5CE81F, #5CE81F);
    background-image: linear-gradient(#5CE81F, #5CE81F);
    box-shadow: green;

    border-radius: 3px;
    
    
    cursor: pointer;
}
button:hover {
    border: 1px solid black;
    transition: ease;
    text-transform: 4s;
}
input {
    font-size: 1.1em;
    border-radius: 3px;
}
svg {
    border: solid 3px #607D8B;
    box-shadow: 0 2px 5px 0 #021f2d, 0 2px 8px 0 #021f2d;
    margin: 5px;
}
#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#btn-container {
    margin: 20px auto;
    text-align: center;
}
#title {
    margin: 20px auto;
    text-align: center;
}
#header {
    border-bottom: 8px solid #ff6600;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    padding-top: 1.3vmin;
    background-color: #fff!important;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    
}
.Copyright {
    background-color: black;
    
}